/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  padding-left: 30%;
  width: 100%;
}

/* Logo */
#logo {
  width: 150px;
  height: auto;
  display: block;
  padding-bottom: 10px;
  margin: 0 auto;
}

/* Navbar */
#navbar {
  background-color: #333;
  color: white;
  padding: 1em;
  position: fixed;
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;
  overflow-y: auto;
}

#navbar header {
  font-size: 1.8em;
  margin-bottom: 1em;
}

#navbar .theme {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5em;
  font-weight: 50;
  color: #a58c40;
  margin-top: 5px;
  left: 5%;
}

#navbar ul {
  list-style: none;
  font-size: large;
}

#navbar li {
  margin-bottom: 0.5em;
  border-bottom: 1px solid #ffffff;
  width: 100%;
}

#navbar .nav-link {
  color: white;
  text-decoration: none;
  width: 100%;
  display: inline-block;
}

#navbar .nav-link:hover {
  text-decoration: none;
  background-color: gray;
}

/* Main Document */
#main-doc {
  padding: 2em;
  background: white;
  margin-top: 2em;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main-section {
  margin-bottom: 2em;
}

.main-section header {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.main-section p {
  margin-bottom: 1em;
}

.main-section ul {
  list-style-type: disc;
  margin-left: 20px;
  margin-bottom: 1em;
}

.main-section code {
  display: block;
  background-color: #f4f4f4;
  padding: 1em;
  border-left: 10px solid #333;
  margin-top: 1em;
  margin-bottom: 1em;
}

/* Curriculum Section */
#Curriculum img {
  display: block;
  margin: 20px auto;
  width: 80%;
  max-width: 600px;
  border: 3px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#Curriculum p {
  text-align: left; 
  font-size: 1.2em;
  word-wrap: break-word;
  white-space: normal;
  font-size: 1.2em;
  color: #555;
  margin-top: 10px;
}

/* Media Query for Responsiveness */
@media (max-width: 768px) {
  #navbar ul {
    flex-direction: column;
    align-items: center;
  }

  #main-doc {
    margin-top: 120px;
    padding: 1em;
  }

  #logo {
    max-width: 80px;
    height: auto;
    margin: auto;
    display: block;
  }

  .theme {
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
  }

  #navbar {
    padding: 10px;
  }

  #Curriculum img {
    display: block;
    margin: 30px auto; /* Add space above and below the image */
    width: 80%;
    max-width: 600px;
    border: 3px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  #Curriculum header{
    text-align: center;
  }

    #Curriculum p {
      text-align: left; /* Maintain normal alignment */
      font-size: 1em;   /* Slightly adjust for smaller screens */
      margin: 10px 0;
    
  }
}
